.card {
    border-radius: 5px;
    border: red 5px dashed;
    border-style: double
}

.card .card__header {
    background: blue;
}

.card .card__content {
    background-color: blueviolet
}

.card .card__footer {
    background-color: aquamarine
}
